%p
  %label{:for=>"mls"} MLS ID
  = form.text_field :mls
%p
  %label{:for=>"link"} link
  = form.text_field :link
%p
  %label{:for=>"address"} address
  = form.text_field :address
%p
  %label{:for=>"geocode"} geocode
  = form.text_field :geocode
%p
  %label{:for=>"bedrooms"} bedrooms
  = form.text_field :bedrooms
%p
  %label{:for=>"bathrooms"} bathrooms
  = form.text_field :bathrooms
%p
  %label{:for=>"acres"} acres
  = form.text_field :acres
%p
  %label{:for=>"price"} price
  = form.text_field :price
%p
  %label{:for=>"taxes"} taxes
  = form.text_field :taxes
%p
  %label{:for=>"year"} year
  = form.text_field :year
