= flash[:notice]
= flash[:error]
.map
  = GMap.header
  = @map.to_html
  = @map.div(:width => 600, :height => 600)

.houses
  = link_to 'Add A House', new_house_path
  - form_for :house, @house, :url => :addmls_houses do |form|
    = form.text_field :mls
    = submit_tag 'Add House by MLS'
  - @houses.each do |house|
    %div.house
      %h1= link_to house.mls, house.link
      = house.address
      %br
      = "(#{house.year}) "
      = "$#{house.price} ($#{house.taxes})<BR>"
      = "#{house.bedrooms} BR / "
      = "#{house.bathrooms} BA "
      = "#{house.acres} Acres"
      = "($#{house.taxes}) "
      %div
        = link_to 'Show', house
        = link_to 'Edit', edit_house_path(house)
        = link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete
  %br 

